{% extends 'dashboard.html' %}
{% block content %}
    {% include "top_header.html" %}
    <h2>Character details: {{ character.name }}</h2>
    <p>Name: {{ character.name }}</p>
    <p>Game: {{ character.game }}</p>
    <p>User: {{ character.user }}</p>

    {% if is_owner %}
        <a href="{% url 'character-progress-manage' character.id %}" class="btn btn-primary">Manage Progress</a>
    {% else %}
        <a href="{% url 'character-progress-view' character.id %}" class="btn btn-primary">View Progress</a>
    {% endif %}

    {% if error %}
        <script>
            alert('{{ error }}');
        </script>
    {% endif %}

    <a href="{% url 'character_delete' character.id %}">Remove</a>

    <a href="{% url 'character_list' %}">
        <button type="button">Back</button>
    </a>
{% endblock %}