{% extends 'dashboard.html' %}

{% block content %}
    {% include "top_header.html" %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}

            <!-- Main content -->
            <main class="col-md-7 ms-sm-auto col-lg-8 px-md-4">
                <div class="mt-5">
                    <h2>Character List</h2>

                    <form id="character-search-form" class="mb-4">
                        <div class="input-group">
                            <input type="text" id="character-search-input" class="form-control" placeholder="Search characters...">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>

                    <div id="character-list">
                        {% include 'progres_tracker/partials/character_list.html' %}
                    </div>

                    <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">Back</a>
                </div>
            </main>
            <!-- Right margin -->
            <div class="col-md-2 d-none d-md-block bg-light right-margin">
        </div>
    </div>

    <script>
        document.getElementById('character-search-form').addEventListener('submit', function(event) {
            event.preventDefault();
            let query = document.getElementById('character-search-input').value;
            fetch("{% url 'character_search' %}?q=" + query)
                .then(response => response.json())
                .then(data => {
                    let characterList = document.getElementById('character-list');
                    characterList.innerHTML = data.html;
                });
        });
    </script>
{% endblock %}
