{% extends 'dashboard.html' %}
{% block content %}
    {% include "top_header.html" %}
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}

            <!-- Main content -->
            <main class="col-md-7 ms-sm-auto col-lg-8 px-md-4">
                <div class="mt-5">
                    <h2>Game List</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Game Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>
                                        <a href="{% url 'game_detail' game.id %}">{{ game.name }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'delete_game' game.id %}" class="btn btn-danger btn-sm">Remove</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'dashboard' %}" class="btn btn-primary">Back</a>
                </div>
            </main>
            <!-- Right margin -->
            <div class="col-md-2 d-none d-md-block bg-light"></div>
        </div>
    </div>
{% endblock %}
