{% extends 'dashboard.html' %}
{% block content %}
    {% include "top_header.html" %}
<h1>{{ quest.name }}</h1>
<p>{{ quest.description }}</p>
{% if quest_steps %}
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Step Completed</th>
  </tr>
  {% for step in quest_steps %}
    <tr>
      <td>{{ step.name }}</td>
      <td>{{ step.description }}</td>
      <td><input type="checkbox" name="step_completed_{{ step.id }}"></td>
    </tr>
  {% endfor %}
</table>
{% endif %}
<h2>Comments</h2>
{% for comment in quest.comments.all %}
    <div class="comment">
        <p>{{ comment.content }}</p> 
        <p>Posted by {{ comment.user }}</p>
    </div>
{% empty %}
    <p>No comments yet!</p>
{% endfor %}
<form action="{% url 'comment_create' quest.id %}" method="post">
    {% include "progres_tracker/add_comment.html" %}
</form>
    
<form method="POST"> <!-- This is a separate form tag -->
{% csrf_token %}
{{ form.as_p }}
<a href="{% url 'quest_list' %}" class="btn btn-default">Back</a>
</form>

{% endblock %}