<div class="topnav">
    <div class="nav-left">
        <ul>
            <li class="dropdown">
                <label for="toggle" class="dropdown-toggle">Giveria</label>
                <input type="checkbox" id="toggle" class="dropdown-toggle">
                <ul class="dropdown-menu">
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'bosses' %}">Bosses</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        {% if user.is_authenticated %}
            Witaj {{ user }}
            <a href="{% url 'logout' %}">wyloguj</a>
        {% else %}
            <a href="{% url 'register' %}">zarejestruj</a>
            <a href="{% url 'login' %}">zaloguj</a>
        {% endif %}
    </div>
</div>