{% extends 'base.html' %}
{% block content %}
    {% include "top_header.html" %}

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}

            <!-- Main content -->
            <main class="col-md-7 ms-sm-auto col-lg-8 px-md-4">
                <div class="mt-5">
                    <h1>Bosses</h1>

                    <form action="#" method="post" id="bossForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="datetime">Select date and hour:</label>
                            <input type="datetime-local" class="form-control datetime-control-limited" id="datetime" name="datetime">
                        </div>

                        <div class="form-group mt-3">
                            <label for="boss">Select Boss:</label>
                            <select id="boss" name="boss" class="form-control custom-select-width">
                                <option value="">-- Select Boss --</option>
                                <option value="Lost Brain">Lost Brain</option>
                                <option value="Galactus">Galactus</option>
                                <option value="Feomathar">Feomathar</option>
                                <option value="Finkregh">Finkregh</option>
                                <option value="Parandor">Parandor</option>
                                <option value="Pedrakhan">Pedrakhan</option>
                                <option value="Incarnation of Belial">Incarnation of Belial</option>
                                <option value="Lokhi">Lokhi</option>
                                <option value="Fenir">Fenir</option>
                                <option value="Surthur">Surthur</option>
                                <option value="Helah">Helah</option>
                                <option value="Demorio">Demorio</option>
                                <option value="Random Boss Hero Island">Random Boss Hero Island</option>
                            </select>
                        </div>

                        <div class="form-group mt-3">
                            <input type="submit" value="Submit" class="btn btn-primary btn-block">
                        </div>
                    </form>
                </div>
            </main>

            <!-- Right margin -->
            <div class="col-md-2 d-none d-md-block bg-light"></div>
        </div>
    </div>

    <style>
        .custom-select-width {
            width: 100%; /* Make the select box fill the container width */
            max-width: 400px; /* Example of a maximum width */
        }
        .btn-block {
            display: block;
            width: 100%;
            max-width: 400px; /* Same as the select box */
        }
    </style>

    <script>
        const cooldowns20h = {
            "Lost Brain": 20,
            "Galactus": 20,
            "Feomathar": 20,
            "Finkregh": 20,
            "Parandor": 20,
            "Pedrakhan": 20,
            "Lokhi": 20,
            "Fenir": 20,
            "Surthur": 20,
            "Helah": 20,
            "Demorio": 20
        };

        const cooldowns72h = {
            "Incarnation of Belial": 72,
            "Random Boss Hero Island": 72
        };

        function calculateNextBossFightTime() {
            const selectedDateTime = new Date(document.getElementById('datetime').value);
            const selectedBoss = document.getElementById('boss').value;

            if (isNaN(selectedDateTime.getTime())) {
                alert('Please select proper date and hour.');
                return;
            }

            if (selectedBoss === '') {
                alert('Please select a Boss.');
                return;
            }

            const cooldowns = (cooldowns20h[selectedBoss] !== undefined) ? cooldowns20h : cooldowns72h;

            const cooldownHours = cooldowns[selectedBoss];
            const nextFightTime = new Date(selectedDateTime.getTime() + cooldownHours * 60 * 60 * 1000);

            alert(`Next fight with boss ${selectedBoss} will be available on ${nextFightTime.toLocaleString()}.`);
        }

        document.getElementById('bossForm').addEventListener('submit', function(event) {
            event.preventDefault();
            calculateNextBossFightTime();
        });
    </script>
{% endblock %}
